.noti-item {
  background: #fff !important;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  padding: 8px 0;
}

.noti-icon {
  font-size: 2em;
  margin-right: 10px;
}

.noti-fecha {
  color: #222;
  font-size: 1em;
  margin-bottom: 2px;
}
